<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

 
  <xacro:macro name="skid_steer_drive_controller">
     <gazebo>
       <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
         <updateRate>100.0</updateRate>
         <robotNamespace></robotNamespace>
         <leftFrontJoint>base_to_wheel1</leftFrontJoint>
         <rightFrontJoint>base_to_wheel3</rightFrontJoint>
         <leftRearJoint>base_to_wheel2</leftRearJoint>
         <rightRearJoint>base_to_wheel4</rightRearJoint>
         <wheelSeparation>4</wheelSeparation>
         <wheelDiameter>0.1</wheelDiameter>
         <commandTopic>cmd_vel</commandTopic>
         <odometryTopic>odom</odometryTopic>
         <robotBaseFrame>base_footprint</robotBaseFrame>
         <odometryFrame>odom</odometryFrame>
         <torque>1</torque>
         <topicName>cmd_vel</topicName>
         <broadcastTF>1</broadcastTF>
       </plugin>
   </gazebo>
  </xacro:macro>      
           
</robot>